*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

nav div a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav div
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px 40px;

}


ul
{
    display: flex;
    list-style: none;
    gap: 20px;
}

a:hover
{
    color: red;
}

nav div li:last-child
{
    background-color: orange;
    padding: 5px 10px;
    border-radius: 10px;
}

nav div li:last-child a:hover 
{
    color: blue;
    background-color: brown;
}

nav h2
{
    color: white;
}

.active 
{
    text-decoration: underline red;
}

.hero
{
    background-color: red;
    height: 90vh;
    background: url('../images/Banner.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.hero button 
{
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

.hero button:hover
{
    background-color: darkred;

}

.video-section
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.video-text
{
    flex: 1;
}

.video-box
{
    flex: 1;
}

.video-section video
{
    width: 100%;
    border-radius: 10px;
}

.video-text h2
{
    font-size: 50px;
    margin-bottom: 20px;
}

.video-text p
{
    font-size: 18px;
    color:brown
}

.about
{
    text-align: center;
    background-color: aqua;
    padding: 50px 20px;
}

.about h2 {
    
    font-size: 32px;
    margin-bottom: 20px;
    color: red;
}

.about p
{
    max-width: 700px;
    background-color: aqua;
    line-height: 1.6;
    margin: auto;
    color:rgb(255, 127, 127);
    font-size: 20px;
}

.card
{
    background-color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 10px 10px 10px 0 gray; 
    border-radius: 10px;
}

.menu-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}
.card img
{
    width: 100%;
    object-fit: cover;
}

.card button
{
    background-color: red;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.icon-box
{
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}

.icon-box img{
    width: 70px;
    border-radius: 50%;
    border: 2px solid red;
    padding: 5px;
}

.category-icons
{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    border: 2px solid green;
}

.icon-box p
{
    margin-top: 8px;
    font-size: 16px;
    color: red;
}

.icon-box img:hover
{
    transform: scale(1.1);
    transition: 0.5s;
}

header
{
    position: sticky;
    top: 0;
    z-index: 100;
}

table
{
    width: 70%;
    border-collapse: collapse;
    background-color: red;
    border-radius: 10px;
    margin: auto;
    overflow: hidden;

}

thead
{
    background-color: orange;
    color: white;

}

th, td
{
    text-align: center;
    padding: 15px;
}

tbody tr
{
    border-bottom: 1px solid blue;

}

.item
{
    display: flex;
    align-items: center;
    gap: 16px;

}

.item img
{
    width: 70px;
    height: 70px;
    border-radius:15px;
}

.remove
{
    background-color: blueviolet;
    border: none;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 10px;

}

.remove:hover
{
    background-color: rgb(180, 118, 118);
}

.Grand-total td
{
    font-weight: bold;
    font-size: 20px;
}

.Grand-total button{
    margin-top: 15px;
    padding: 10px 20px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.qty-box
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.qty-box button{
    width: 28px;
    height: 28px;
    border: none;
    background-color: rgb(208, 196, 196);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.qty-box span
{
    font-weight: bold;
    min-width: 20px;
}

.auth-container 
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(110deg,red ,yellow ,grey);

}

.auth-box
{
    background-clip: white;
    padding: 35px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    box-shadow: 0px 8px 25px black;
}

.auth-box h2
{
    color: black;
    margin-bottom: 20px;
}

.auth-box input
{
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   border: 1px solid white;
   border-radius: 5pc;

}

.auth-box input:focus
{
    border-color: red;
}

.auth-box button
{
    width:100%;
    padding: 10px;
    background: red;
    color:White;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.auth-box button:hover{
    background-color: orange ;
}

.auth-box p{
    margin-top: 12px;
    font-size: 14px;
}

.auth-box a{
    color: red;
    text-decoration: none;
}

.deals-page 
{
    padding: 40px;
    background-color: bisque;
}

.deal-hero
{
    background: linear-gradient(black, grey);
    color:white;
    text-align:center;
    padding: 20px;
    border-radius: 20px;
    margin: 40px;
}

.deal-hero h1{
    font-size: 40px;
}

.deal-hero p
{
    font-size: 18px;
}

.section-title
{
    margin: 30px 0 20px;
    font-size: 28px;
    color:black;
}

.combo-section
{
    padding: 40px;
    background-color: bisque;
}

.combo-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.combo-card img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;

}

.combo-card
{
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 20px solid gray;
    box-shadow: 0px 0px 10px rgb(96, 93, 93);
    transition: 0.3s;
}

.combo-card h4{
    margin: 10px 0;
}

.combo-card h4 span
{
    text-decoration: line-through red;
    margin-right: 10px;

}

.button
{
    width:100%;
    padding: 10px;
    background: red;
    color:White;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.button:hover{

    background-color: darkred;
}
.combo-card:hover
{
    transform:scale(1.1);
}

.deals-container
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.deal-card
{
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0.5px 15px black;
}

.deal-card h3{
    margin-bottom: 10px;
}

.deal-card:hover
{
    transform: translateY(-8px);
}

.red
{
    border-top: 3px solid red;
}

.yellow
{
    border-top: 3px solid yellow;
}

.green
{
    border-top: 3px solid green;
}

.blue
{
    border-top: 3px solid blue;
}

.deal-card span
{
    display: inline-block;
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 3px 6px;
    border-radius: 10px;
}

footer
{
    background-color: black;
    color: white;
    padding: 40px;
}

.footer-container 
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

footer h2,h3
{
    margin-bottom: 10px;
}

.footer-box span
{
    color: red;
}

footer a{
    color: white;

}

.footer-bottom
{
    text-align: center;
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid black;
    font-size: 14px;
}

.footer-box ul
{
    display: flex;
    flex-direction: column;
}

.special-icons a
{
    display: inline-block;
    padding: 12px;
    border-radius: 50%;
    background-color: rgb(209, 137, 137);
    font-size: 20px;
}

.special-icons a:hover{
    background: red;
    color: white;
}